@font-face {
  font-family: "Montserrat";
  src: url(../font/Montserrat-Regular.ttf);
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../img/back.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
tr .head {
  color: #ffa900;
}

table tr td {
  color: #01252a;
  font-weight: bold;
  min-width: 200px;
}

/* Nav */
nav .logo {
  position: relative;
  display: inline-block;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}
nav ul {
  position: relative;
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  display: inline-block;
  margin-left: 10px;
  padding: 8px 18px;
  color: #0e3c5c;
  text-decoration: none;
  user-select: none;
  transition: 0.1s;
}
nav ul li a.active,
nav ul li a:hover {
  /*background: #ffffff42;*/
  background: rgba(255, 255, 255, 0.5);
  color: rgb(41, 41, 41);
  border-radius: 5px;
}
nav ul li a.button {
  border: 2px solid #0e3c5c;
  color: #0e3c5c;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px 5px 10px;
}
nav ul li a.button:hover {
  background: #0e3c5c;
  color: #fff;
}

nav .navbar {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
/* End Nav */
/* Layput */

.layout a {
  text-decoration: none;
}
.layout h1 {
  margin-top: -10px;
}
.layout form label {
  margin-top: 27px;
}
.layput p {
  font-size: 1.2em;
}
.layout {
  position: relative;
  width: 500px;
  height: 700px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.layout h1 {
  font-weight: bold;
}
.layout h6 {
  margin: 10px 0 0 0;
  font-weight: bold;
}

.layout .row .field-icon {
  float: left;
  margin-left: 15px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.layout input {
  outline: none;
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding-left: 40px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: none;
}
.layout button {
  color: #fff;
  background-color: #2e9db8;
  padding: 5px;
  font-size: 14px;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin: 20px 0 20px 0;
  transition: 0.3s;
}
.layout button:hover {
  background: #7e83ad;
  color: white;
}
/* Password toggle */
.layout form i {
  margin-left: -30px;
  cursor: pointer;
}

/* index.php */

/* End layout */
.footer {
  background: #2e9db8;
}
.footer p {
  margin: 20px;
}

.port .row img {
  height: auto;
  width: 80%;
}
